<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZap</title>
    <!-- Font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- EMOJI CSS -->
    <link rel="stylesheet" href="./assets/js/style.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <div id="app">

        <div id="wrapper" class="d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div id="contacts_list" class="col-12 col-md-5 col-lg-4 p-0" @click="closeEmoji">

                        <header class="d-flex align-items-center justify-content-between">
                            <div id="user_chatting" class="d-flex align-items-center">
                                <div class="ps-3">
                                    <img class="img-fluid rounded-5" width="50" src="./assets/img/avatar_io.jpg" alt="">
                                </div>

                                <div class="ps-3">
                                    <h5 class="m-0">Sofia</h5>
                                </div>
                            </div>

                            <div id="chat_menu">
                                <i class="fa-solid fa-circle-notch pe-4 d-none d-lg-inline-block"></i>

                                <i class="fa-solid fa-message pe-4" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"></i>

                                <div class="dropdown dropstart d-inline">
                                    <button class="my_btn_dropdown" type="button" data-bs-toggle="dropdown">
                                        <i class="fa-solid fa-ellipsis-vertical pe-4"></i>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-target="#exampleModal"
                                                @click="toggleDark()" id="dark_mode">Dark
                                                mode</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item d-none" href="#" data-bs-target="#exampleModal"
                                                id="light_mode" @click="toggleDark()">Light
                                                mode</a>
                                        </li>
                                    </ul>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <form action="" class="h-100">
                                                        <h6>Aggiungi nuovo contatto</h6>

                                                        <label for="contact_name">Nome contatto</label> <br>
                                                        <input type="text" placeholder="Nome contatto"
                                                            v-model.trim="contactName" id="contact_name"> <br>
                                                        <label for="contact_url" class="mt-2">URL immagine contatto
                                                            (facoltativo)</label> <br>
                                                        <input type="text" placeholder="URL immagine contatto"
                                                            id="contact_url" v-model.trim="contactUrl"> <br>
                                                        <button class="btn btn-success mt-2"
                                                            @click="newContact()">Aggiungi</button><br>

                                                        <button type="button" class="btn-close d-none" id="close_modal"
                                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </header>
                        <!-- /header contact -->

                        <main>
                            <div class="notification d-flex align-items-center ps-3">
                                <div
                                    class="d-flex align-items-center justify-content-center rounded-5 icon_bell_container">
                                    <i class="fa-solid fa-bell-slash fa-fw"></i>

                                    <i class="fa-solid fa-bell da-fw d-none"></i>
                                </div>

                                <div class="px-3">
                                    <h6 class="m-0">Ricevi notifiche di nuovi messaggi</h6>
                                    <p @click="activeNotification" id="text_active_notification"
                                        class="m-0 text-decoration-underline">Attiva
                                        notifiche desktop</p>
                                    <p @click="activeNotification" id="text_disactive_notification"
                                        class="m-0 text-decoration-underline d-none">Disattiva
                                        notifiche desktop</p>
                                </div>
                            </div>
                            <!-- /notification -->

                            <form class="input-group" role="search">
                                <span class="input-group-text border-end ms-2 my-2" id="Search">
                                    <i class="fa-solid fa-magnifying-glass mx-3"></i>
                                </span>

                                <input class="form-control me-2 my-2 p-0 ps-2" type="search" v-model.trim="addText"
                                    placeholder="Cerca o inizia una nuova chat" aria-label="Search" id="Search"
                                    @keyup="searchFilter">
                            </form>
                            <!-- /search -->

                            <div id="contacts_chat">

                                <div v-for="(contact, index) in contacts" class="d-flex align-items-center"
                                    :class="contact.visible === false ? 'd-none' : '' || activeChat==index ? 'chat_active' : '' "
                                    @click="selectContact(index)">
                                    <div class="ps-3">
                                        <img class="rounded-5" width="50" :src="'./assets/'+ contact.avatar"
                                            :alt="getFirstLetters(contact.name)">
                                    </div>

                                    <div class="ps-3 flex-grow-1">
                                        <h5 class="m-0">{{contact.name}}</h5>
                                        <p v-if="contact.messages.length > 0" class="m-0 last_message">
                                            {{contact.messages[contact.messages.length -
                                            1].message}}</p>
                                        <p v-else class="m-0 last_message">
                                        </p>
                                    </div>

                                    <div class="ps-3 align-self-start">
                                        <p v-if="contact.messages.length > 0" class="p-2 last_hour">
                                            {{contact.messages[contact.messages.length -
                                            1].date.slice(11, 16)}}
                                        </p>
                                        <p v-else class="p-2 last_hour">

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- /#contacs_chat -->

                        </main>
                        <!-- /main contact -->

                    </div>
                    <!-- /#contacts_section -->


                    <div id="chat_section" class="col-12 d-md-block col-md-7 col-lg-8 p-0 d-none">

                        <header v-if="activeChat >= 0" class="d-flex align-items-center justify-content-between"
                            @click="closeEmoji">
                            <div id="user_chatting" class="d-flex align-items-center">
                                <div class="ps-1 d-flex align-items-center" style="height: 75px" @click="backToList()">
                                    <i class="fa-solid fa-chevron-left d-md-none fa-fw"></i>
                                </div>
                                <div class="ps-3">
                                    <img class="img-fluid rounded-5" width="50"
                                        :src="'./assets/'+ contacts[activeChat].avatar"
                                        :alt="getFirstLetters(contacts[activeChat].name)">
                                </div>
                                <div class="ps-3">
                                    <h5 class="m-0">{{contacts[activeChat].name}} </h5>

                                    <p v-if="lastAc.length > 1" class="m-0">
                                        {{lastAc}}
                                    </p>

                                    <p v-else-if="contacts[activeChat].messages.length > 0" class="m-0">
                                        {{lastAccess(activeChat)}}
                                    </p>

                                    <p v-else class="m-0"></p>
                                </div>
                            </div>

                            <div id="chat_menu">
                                <i class="fa-solid fa-magnifying-glass pe-4 d-none d-lg-inline-block"></i>

                                <i class="fa-solid fa-paperclip pe-4 d-none d-lg-inline-block"></i>

                                <div class="dropdown d-inline">
                                    <button class="my_btn_dropdown" type="button" data-bs-toggle="dropdown">
                                        <i class="fa-solid fa-ellipsis-vertical pe-4"></i>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"
                                                @click="deleteAllMessage(activeChat)">Elimina
                                                messaggi</a></li>
                                        <li><a class="dropdown-item" href="#" @click="deleteChat(activeChat)">Elimina
                                                chat</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </header>
                        <!-- /header chat -->

                        <main v-if="activeChat >= 0" class="d-flex flex-column" @click="closeEmoji">
                            <div v-for="message in contacts[activeChat].messages"
                                :class="message.status === 'sent' ? 'sent' : 'received'" class="message">
                                <p class="me-3">
                                    {{message.message}}
                                </p>

                                <span class="in_message_hour">{{message.date.slice(11, 16)}}</span>

                                <div class="dropdown">
                                    <button class="my_btn_dropdown" type="button" data-bs-toggle="dropdown">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Message info</a></li>
                                        <li><a class="dropdown-item" href="#"
                                                @click="deleteMessage(message, activeChat)">Delete message</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </main>

                        <main v-else class="d-flex flex-column h-100">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <div class="text-center v_else_main_text">
                                    <h5><i class="fa-solid fa-comments"></i> BOOLZAP</h5>
                                    <p>Invia e ricevi messaggi</p>
                                </div>
                            </div>
                        </main>
                        <!-- /main chat -->

                        <footer v-if="activeChat >= 0" class="d-flex align-items-center">
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fa-regular fa-face-smile" @click="openEmoji">
                                    <Picker @select="onSelectEmoji" class="emoji" :class="{'d-none': !showEmoji}" />
                                </i>
                            </div>

                            <div class="col-10 d-flex justify-content-center" @click="closeEmoji">
                                <input v-model.trim="msg" type="text" name="" placeholder="Scrivi un messaggio" id=""
                                    class="border-0 w-100 p-2 rounded-1" @keyup.enter="sendMsg(activeChat)">
                            </div>

                            <div class="col-1 d-flex justify-content-center" @click="closeEmoji">
                                <i class="fa-solid fa-microphone" :class="msg.length > 0 ? 'd-none' : ''"></i>
                                <i class="fa-solid fa-paper-plane" :class="msg.length == 0 ? 'd-none' : ''"
                                    @click="sendMsg(activeChat)"></i>
                            </div>
                        </footer>
                        <!-- /footer chat -->

                    </div>
                    <!-- /#chat_section -->

                </div>
            </div>
        </div>
        <!-- /#wrapper -->

    </div>
    <!-- /#app -->

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <!-- EMOJI JS -->
    <script src="./assets/js/emoji-picker.js" type="module"></script>
    <!-- JS -->
    <script src="./assets/js/main.js" type="module"></script>
</body>

</html>