/* #region COMMON and Utilities */

/* Color palette */
:root {
    --my_primary: rgba(0, 150, 136, 1);
    --my_secondary: rgba(218, 219, 211, 1);
    --my_active_notification: rgba(142, 218, 252, 1);
    --my_light: rgba(234, 234, 234, 1);
    --my_lighter: rgba(255, 255, 255, 1);
    --my_icons: rgba(177, 177, 177, 1);
    --my_sent_msg: rgba(213, 249, 186, 1);
    --my_chat_footer: rgba(243, 238, 234, 1);
    --my_icons_dark: rgba(107, 115, 118, 1);
    --my_bg_form: rgba(250, 250, 250, 1);
    --my_active_chat: rgba(233, 235, 235, 1);
}

#wrapper {
    height: calc(100vh);
    min-height: 500px;
    background: linear-gradient(to top,
            rgba(218, 219, 211, 1) 85%,
            rgba(0, 150, 136, 1) 15%);
}

header {
    height: 75px;
    background-color: var(--my_light);
}

header i {
    color: var(--my_icons);
    scale: 1.5;
}

footer i {
    color: var(--my_icons_dark);
    scale: 1.5;
}

/* #endregion COMMON and Utilities */

/* #region CONTACTS_SECTION */
#contacts_section {
    background-color: var(--my_lighter);
    overflow-x: hidden;
}

.notification {
    height: 80px;
    background-color: var(--my_active_notification);
}

.icon_bell_container {
    width: 50px;
    height: 50px;
    background-color: var(--my_lighter);
}

.notification i {
    color: var(--my_active_notification);
    scale: 1.5;
}

#text_active_notification {
    color: var(--my_icons_dark);
    cursor: pointer;
}

form {
    height: 50px;
    background: var(--my_bg_form);
}

span.input-group-text {
    background-color: var(--my_lighter);
}

span.input-group-text i {
    color: var(--my_icons);
}

#contacts_chat {
    height: calc(100vh - 75px - 80px - 50px - 2rem);
    overflow-y: auto;
}

#contacts_chat>div {
    height: 80px;
}

.chat_active {
    background-color: var(--my_active_chat);
}

.last_message,
.last_hour {
    color: var(--my_icons);
}

/* #endregion CONTACTS_SECTION */




/* #region CHAT_SECTION */
#chat_section {
    border-left: 1px solid var(--my_secondary);
}

#chat_section header p {
    color: var(--my_icons)
}

#chat_section main {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 75px - 70px - 2rem);
    overflow-y: auto;
}

.message {
    max-width: 300px;
    min-height: 55px;
    border-radius: 0.75rem;
    margin: 1rem 2rem;
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.message>p {
    margin-bottom: 0.7rem !important;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown i {
    color: var(--my_icons);
    scale: 1.1;
}

.dropdown .my_btn_dropdown {
    border: none;
    background-color: transparent;
}

.sent {
    background-color: var(--my_sent_msg);
    align-self: self-end;
}

.received {
    background-color: var(--my_lighter);
    align-self: self-start;
}

.in_message_hour {
    font-size: 0.6rem;
    position: absolute;
    bottom: 2%;
    right: 5%;
    color: var(--my_icons);
}

#chat_section footer {
    height: 70px;
    background-color: var(--my_chat_footer);
}

/* #endregion CHAT_SECTION */



/* #region DEBUG */
/* .debug .container {
    background-color: red;
} */

/* .debug .col-4 {
    background-color: blue;
} */

/* .debug .col-8 {
    background-color: yellow;
} */

/* #endregion DEBUG */