/* #region COMMON and Utilities */

/* Color palette */
:root {
    --my_primary: rgba(0, 150, 136, 1);
    --my_secondary: rgba(218, 219, 211, 1);
    --my_active_notification: rgba(142, 218, 252, 1);
    --my_light: rgba(234, 234, 234, 1);
    --my_lighter: rgba(255, 255, 255, 1);
    --my_icons: rgba(177, 177, 177, 1);
    --my_sent_msg: rgba(213, 249, 186, 1);
    --my_chat_footer: rgba(243, 238, 234, 1);
}

#wrapper {
    height: calc(100vh);
    background: linear-gradient(to top,
            rgba(218, 219, 211, 1) 85%,
            rgba(0, 150, 136, 1) 15%);
}

header {
    height: 75px;
    background-color: var(--my_light);
}

i {
    color: var(--my_icons);
    scale: 1.5;
}

.sent {
    background-color: var(--my_sent_msg);
}

.received {
    background-color: var(--my_lighter)
}

/* #endregion COMMON and Utilities */

/* #region CONTACT_SECTION */
#contact_section .col-4 {
    border: 1px solid var(--my_secondary);
}

/* #endregion CONTACT_SECTION */




/* #region CHAT_SECTION */
#chat_section .col-8 {
    border: 1px solid var(--my_secondary);
    border-left: 0;
}

#chat_section header p {
    color: var(--my_icons)
}

#chat_section main {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 75px - 70px);
    /* overflow-y: auto; */
}

#chat_section footer {
    height: 70px;
    background-color: var(--my_chat_footer);
}

/* #endregion CHAT_SECTION */



/* #region DEBUG */
.debug .container {
    background-color: red;
}

.debug .col-4 {
    background-color: blue;
    min-height: 650px;
}

.debug .col-8 {
    background-color: yellow;
    min-height: 650px;
}

/* #endregion DEBUG */