/* #region COMMON and Utilities */

/* Color palette */
:root {
    --my_primary: rgba(0, 150, 136, 1);
    --my_secondary: rgba(218, 219, 211, 1);
    --my_active_notification: rgba(142, 218, 252, 1);
    --my_light: rgba(234, 234, 234, 1);
    --my_lighter: rgba(255, 255, 255, 1);
    --my_icons: rgba(177, 177, 177, 1);
    --my_sended_msg: rgba(213, 249, 186, 1);
}

body {
    height: 100vh;
    background: linear-gradient(to top,
            rgba(218, 219, 211, 1) 85%,
            rgba(0, 150, 136, 1) 15%);
}

/* #endregion COMMON and Utilities */

/* #region MAIN */




/* #region DEBUG */
.debug .container {
    background-color: red;
}

.debug .col-4 {
    background-color: blue;
    min-height: 600px;
}

.debug .col-8 {
    background-color: yellow;
    min-height: 600px;
}

/* #endregion DEBUG */